{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Completed</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body{background: url({% static 'images/w2.jpg' %});

    }
    </style>

</head>
<body>

<div class="container" style = "margin-top:50px">
    <h1 class="text-center">Thank you!.You have succesfully registered for Donation!.<br><a href="/">Back to Home</a></h1>

</div>


</body>
</html>